body {
  margin:0;
  padding:0;
  background-color: rgb(101,170,187);
  height: 0;
  user-select: none;
  -moz-user-select: none;
  overflow: hidden;
  cursor: default;
  font-family: monospace;
}
#main_cloud {
  position: relative;
  left: 50%;
  top: 50%;
  height: 60vh;
  animation-name: bop;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  pointer-events: none;
}
#bg_cloud {
  position: fixed;
  z-index: -1;
  left: -20%;
  animation-name: glide;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition-property: transform;
  transition-duration: 1.2s;
  transition-timing-function: ease-out;
}
#bg_cloud.clicked {
  transform: translateX(15%);
  animation-play-state: paused;
  z-index: 1;
}
#vm_bubble {
  position: fixed;
  z-index: -1;
  left: -20%;
  opacity: 0;
  animation-name: glide;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition-property: opacity;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
}
#vm_bubble.clicked {
  opacity: 1;
  animation-play-state: paused;
  z-index: 1;
}
p#vm_info {
  padding-left: 2vh;
  font-size: 1.6vh;
}
#motd {
  margin: 0px;
  top: 5%;
  left: 5%;
  position: absolute;
  font-size: 5vh;
  font-weight: bold;
  color: rgb(77, 77, 77);
  text-shadow: 5px 0px 4px white,
  0px 5px 4px white,
  -5px 0px 4px white,
  0px -5px 4px white;
}
@keyframes bop {
  0% {transform: translate(-50%,0%);}
  100% {transform: translate(-50%,65%);}
}
@keyframes glide {
  0% {left: -20%;}
  100% {left: 120%;}
}
